<div class="row">
  <div class="col-md-12">
    <h2>
      Creative Qualities
    </h2>

    <div class="row">
      <%= @creative_qualities.find_each do |creative_quality| %>
        <div class="col-md-4">
          <div class="panel panel-<%= creative_quality.color ? creative_quality.color.name : 'default' %>">
            <div class="panel-heading">
              <%= creative_quality.name %>
            </div>

            <div class="panel-body">
              <p>
                <%= creative_quality.description %>
              </p>

              <hr>

              <p>
                <div class="progress">
                <div class="progress-bar progress-bar<%= creative_quality.color ? '-'+creative_quality.color.name : '' %>" 
                      style="width: <%= creative_quality.avg_score %>%"></div>
                </div>
                <strong>Your Score: <%= creative_quality.avg_score %></strong>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
